<template>
  <div>date is: {{ moment(new Date()) }}</div>
</template>

<script>
import moment from 'moment-jalaali'
export default {
  methods: {
    moment(date) {
      return moment(date).format('jYYYY/jM/jD [is] YYYY/M/D')
    },
  },
}
</script>

<style></style>
